---
const a= "World";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro </title>
	</head>
	<body>
		<h1>Astro {1+1}</h1>
		<h2> {a} </h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
			Esse sapiente voluptas architecto aperiam, illo quaerat <br>

			quod quas aspernatur, officiis, cum illum ducimus in beatae <br>

			molestias nemo? Adipisci quam est totam!</p>

			<p class="ara"> بسم الله الدحمن الدحيم</p>
	</body>
</html>

<style>
	h1{color:blue}
	h2{text-align: center;}
	.ara{text-align: right;}
</style>